.ReviewHome {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5% 10%;
}

/* All Reviews Styling */
.AllReviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
  margin-top: 2rem;
}

#reviews-heading {
  text-align: start;
  font-size: 1.1rem;
}

hr {
  color: black;
}

/* Styling for the Review Class */
.Review {
  display: flex;
  gap: 0.3rem;
}

.review-user-details img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.review-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #28a9ff4b;
}

.review-user-controlls {
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  border: none;
  height: 1rem;
  background-color: #28a9ff00;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.review-content-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.review-content-details p {
  min-height: 3rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background-color: #fffffffb;
  border-radius: 2px;
  padding: 0.2rem;
  width: 99%;
}

@media screen and (max-width: 840px) {
  .ReviewHome {
    margin: 3% 8%;
  }
}

@media screen and (max-width: 680px) {
  .ReviewHome {
    margin: 3% 2%;
  }
}

@media screen and (max-width: 400px) {
  .ReviewHome {
    margin: 3% 2%;
  }

  .review-user-details img {
    margin-top: 0.2rem;
    height: 2rem;
    width: 2rem;
  }

  .Review {
    gap: 0.15rem;
  }

  .review-content-details p {
    width: 98%;
  }
}
