.ReviewForm-div {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  margin-top: 5rem;
}

.ReviewForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.review-user-img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.form-data {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #28a9ff4b;
}

.review-input-textArea {
  height: 5rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background-color: #fffffffb;
  border-radius: 2px;
  padding: 0.2rem 0.5rem;
  resize: none;
  text-align: left;
  outline: none;
  border: none;
}

.review-Button-div {
  display: flex;
  justify-content: flex-end;
}

.review-btn {
  width: fit-content;
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
  background-color: #28a9ff4b;
  border: none;
  border-radius: 1.2rem;
  margin-top: 0.5rem;
  transition: 0.2s linear;
}

.review-btn:hover {
  background-color: #28a9ffd3;
  color: rgba(255, 255, 255, 0.808);
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .review-user-img {
    margin-top: 0.2rem;
    height: 2rem;
    width: 2rem;
  }
}
