.ReviewForm-div {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 40rem;
  margin-top: 5rem;
}

.ReviewForm-div h2 {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.ReviewForm {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.form-data {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 1rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgb(0, 0, 0);
}

.form-range {
  cursor: pointer;
  margin-bottom: 0.4rem;
}
.form-label {
  font-size: 1rem;
  font-weight: 600;
}

#review {
  height: 5rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background-color: #bfe9ff61;
  border-radius: 2px;
  padding: 0.5rem 0.2rem;
  resize: none;
  text-align: left;
  border: 1px solid black;
}

.review-btn {
  text-align: start;
  width: fit-content;
  padding: 1rem;
  font-size: 1.3rem;
  background-color: #3798ffd7;
  border: none;
  border-radius: 0.3rem;
  margin-top: 1.2rem;
  transition: 0.2s linear;
}

.review-btn:hover {
  color: white;
  cursor: pointer;
}
