.App {
  background-color: rgb(197, 239, 255);
  font-family: "Plus Jakarta Sans", sans-serif; /* ✅ Correct font stack */
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header | Body | Footer */
  min-height: 100vh;
}


@keyframes appear {
  from {
    opacity: 0;
    scale: 0.3;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}