.BookingDetails {
  border: 2px solid black;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px black;
}

.booking-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-img img {
  border-radius: none;
  width: 100%;
  height: 25rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.booking-details {
  display: flex;
  flex-direction: column;
  background-color: #befcff;
  padding: 0.5rem 1rem;
}

.booking-details-block {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.booking-info {
  background-color: #39ffca;
  padding: 0.5rem 1rem;
}

.booking-info-block {
  display: flex;
  justify-content: space-between;
}

hr {
  border: 1px solid black;
}

.Valid {
  color: green;
}

.Expired {
  color: rgb(255, 0, 0);
}

.slots {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Three cards per row */
  gap: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
}

.slots p {
  background-color: #ffffff;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 4px;
}

.bookedParking-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookedParking-status h3 {
  font-size: 2rem;
  margin: 1rem;
  margin-bottom: 0;
}

.bookedParking-status div span {
  font-size: 1rem;
  margin: 1rem;
}

.close {
  color: red;
}

.booking-slots-h {
  font-size: 2rem;
  margin-top: 4rem;
}

.all-booking-slots {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards per row */
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.booking {
  padding: 1rem;
}

.not-valid {
  background-color: #360000;
  background-image: url("https://png.pngtree.com/png-vector/20220527/ourmid/pngtree-red-grunge-expired-rubber-stamp-png-image_4750216.png");
}

.valid {
  background-color: #002a04;
}

.booking p {
  color: rgb(184, 184, 184);
  text-align: start;
  justify-content: start;
  align-items: start;
  font-size: 1.2rem;
}

.booking-slots-time {
  display: flex;
}

.total-slots {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.booking-slots-time {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards per row */
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.booking-slots-time p {
  display: flex;
  margin: 2px;
  padding: 2px;
  font-size: 0.8rem;
  border-radius: 8px;
  border: 2px solid white;
  background-color: #0039ab;
}

@media (max-width: 820px) {
  .all-booking-slots {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three cards per row */
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
  }

  .booking-slots-time p {
    display: flex;
    margin: 2px;
    padding: 2px;
    font-size: 0.6rem;
    border-radius: 8px;
    border: 2px solid white;
    background-color: #0039ab;
  }
}

@media (max-width: 550px) {
  .all-booking-slots {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Three cards per row */
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
  }

  .booking-slots-time p {
    display: flex;
    margin: 2px;
    padding: 2px;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid white;
    background-color: #0039ab;
  }
}
