.log-in-page {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 5rem;
}

.log-in-heading {
  color: #2facffb9;
  font-size: 2.5rem;
}

.log-in-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.input-label {
  text-align: start;
  justify-content: start;
  font-size: 1.2rem;
  color: #2facffe7;
}

.log-in-input {
  font-size: 1.2rem;
  height: 3rem;
  width: 30rem;
  padding-left: 1rem;
  border-radius: 0.4rem;
  border: 2px solid black;
  color: rgb(0, 0, 0);
}

.log-in-btn {
  text-align: start;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  color: rgb(0, 0, 0);
  background-color: #2facffe7;
  border: none;
  font-size: 2rem;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 4px;
  margin-top: 2rem;
  transition: 0.3s;
}

.log-in-btn:hover {
  cursor: pointer;
  color: rgb(239, 255, 186);
}

.sign-up {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 4rem;
  font-size: 1.2rem;
}

.sign-up a {
  color: rgba(0, 0, 255, 0.614);
}

.sign-up a:hover {
  cursor: pointer;
  color: blue;
}

@media screen and (max-width: 760px) {
  .log-in-input {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 19rem;
  }

  .input-label {
    font-size: 1.3rem;
  }

  .log-in-page {
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 420px) {
  .log-in-page {
    border-radius: 0.3rem;
  }

  .log-in-input {
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
  }

  .input-label {
    font-size: 1rem;
  }

  .sign-up-btn {
    border-radius: 0.5rem;
    font-size: 1.5rem;
  }
}
