.sign-up-page {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 5rem;
}

.sign-up-heading {
  color: rgb(56, 56, 56);
  font-size: 2.5rem;
  margin: 2rem;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.inputSection {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.input-label {
  text-align: start;
  justify-content: start;
  font-size: 1rem;
  color: rgba(0, 33, 56, 0.906);
}

.sign-up-input {
  font-size: 1.2rem;
  width: 30rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
  background-color: #2facff3c;
}

.sign-up-btn {
  text-align: start;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  color: rgb(0, 0, 0);
  background-color: #2facffe7;
  border: none;
  font-size: 2rem;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 4px;
  margin-top: 2rem;
  transition: 0.3s;
}

.sign-up-btn:hover {
  cursor: pointer;
  color: rgb(239, 255, 186);
}

.sign-up p {
  color: rgba(0, 0, 255, 0.506);
  cursor: pointer;

  text-decoration: underline;
  margin-top: 1.2rem;
}

@media screen and (max-width: 760px) {
  .sign-up-input {
    font-size: 1rem;
  }

  .input-label {
    font-size: 1rem;
  }
}

@media screen and (max-width: 468px) {
  .sign-up-page {
    margin: 4rem 1rem;
    padding: 0;
  }

  .sign-up-heading {
    font-size: 1.8rem;
  }

  .sign-up-form {
    margin: 0;
    width: 90%;
    gap: 1.2rem;
  }

  .inputSection {
    margin: 0;
    width: 100%;
  }

  .input-label {
    text-align: start;
    justify-content: start;
    font-size: 1rem;
  }

  .sign-up-input {
    font-size: 1rem;
    width: 90%;
    min-width: 90%;
  }

  .sign-up-btn {
    font-size: 1.5rem;
    height: 3rem;
  }

  .sign-up-btn:hover {
    cursor: pointer;
    color: rgb(239, 255, 186);
  }
}
