.sign-up-page{
    margin: 1rem;
    box-shadow: 0 0 1rem blue;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 5rem;
    background-color: #269ae7;
    border-radius: 1rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.sign-up-heading {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    margin: 2rem;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
}


.input-label {
    text-align: start;
    justify-content: start;
    font-size: 1.8rem;
    color: #ffffff;
}

.sign-up-input {
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 30rem;
    padding-left: 0.5rem;
    border: 2px solid rgb(0, 21, 255);
    box-shadow: 0 0 10px blue;
    border-radius: 0.4rem;
}

.sign-up-btn {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: rgb(193, 193, 193);
    background-color: #0011ffab;
    border: none;
    font-size: 2.5rem;
    padding: 4px 1rem;
    border-radius: 1rem;
    margin-top: 3rem;
    transition: 0.2s;
}

.sign-up-btn:hover {
    cursor: pointer;
    color: white;
    box-shadow: 0 0 10px rgb(0, 34, 255);
    border-color: rgb(0, 0, 255);
}

@media screen and (max-width: 760px) {
    .sign-up-input {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        width: 19rem;
        
    }

    .input-label {
        font-size: 1.3rem;
    }
}


@media screen and (max-width: 420px) {
    .sign-up-input {
        font-size: 1rem;
        margin-bottom: 1rem;
        width: 15rem;
        
    }

    .input-label {
        font-size: 1rem;
    }
}
