.sign-up-page {
  /* margin: 1rem;
    box-shadow: 0 0 1rem blue;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 5rem;
    background-color: #269ae7;
    border-radius: 1rem;
    margin-top: 5rem;
    margin-bottom: 10rem; */
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 5rem;
}

.sign-up-heading {
  color: rgb(56, 56, 56);
  font-size: 2.5rem;
  margin: 2rem;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.inputSection {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.input-label {
  text-align: start;
  justify-content: start;
  font-size: 1.2rem;
  color: #2facffe7;
}

.sign-up-input {
  font-size: 1.2rem;
  height: 3rem;
  width: 30rem;
  padding-left: 1rem;
  border-radius: 0.4rem;
  border: 2px solid black;
  color: rgb(0, 0, 0);
}

.sign-up-btn {
  /* text-align: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: rgb(193, 193, 193);
  background-color: #0011ffab;
  border: none;
  font-size: 2.5rem;
  padding: 4px 1rem;
  border-radius: 1rem;
  margin-top: 3rem;
  transition: 0.2s; */
  text-align: start;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  color: rgb(0, 0, 0);
  background-color: #2facffe7;
  border: none;
  font-size: 2rem;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 4px;
  margin-top: 2rem;
  transition: 0.2s;
}

.sign-up-btn:hover {
  cursor: pointer;
  color: rgb(239, 255, 186);
}

@media screen and (max-width: 760px) {
  .sign-up-input {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 19rem;
  }

  .input-label {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 420px) {
  .sign-up-input {
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
  }

  .input-label {
    font-size: 1rem;
  }
}
