.Pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  border-radius: 10rem;
  box-shadow: 0 0 4rem #28a9ffeb;
  margin: 3rem 8rem;
  background-color: none;
}

@media screen and (max-width: 840px) {
  .Pagination {
    margin: 2rem 5rem;
  }
}

@media screen and (max-width: 510px) {
  .Pagination {
    margin: 2rem 1.2rem;
  }
}
