.view-parking-details {
  background-color: #00ff6656;
  margin: 5% 10%;
  margin-bottom: 0;
  border-radius: 0.5rem;
}

.parking-isElectric-true {
  background-color: #5eacffdf;
}

.parking-admin {
  display: flex;
  flex-direction: row;
  margin: 0.2rem 0.5rem;
  gap: 0.2rem;
}

.parking-admin-image {
  height: 2.5rem;
  width: 2.5rem;
}

.parking-admin-photo {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.parking-admin-name {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.5rem;
}

.view-parking-image {
  width: 100%;
  height: 27rem;
  object-fit: cover;
}

.parking-info {
  margin: 0.5rem;
  color: rgb(0, 0, 0, 0.9);
}

.parking-detail-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.parking-name {
  font-size: 1.2rem;
}

.view-parking-status {
  font-size: 1rem;
  font-style: italic;
}

.open {
  color: rgb(204, 255, 204);
}

.close {
  color: rgb(246, 0, 0);
}

.view-parking-sub-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
}

.parking-slots-div {
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
  padding: 0.5rem 0;
}

.parking-slots-div h4 {
  text-align: center;
  font-size: 1.2rem;
}

.slots-container-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 1rem;
  border-radius: 2px;
  gap: 1rem;
  padding: 1rem;
}

.slots-container-single-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px black;
  border-radius: 0.2rem;
}

.parking-slot-btn {
  border: none;
}

.slot-btn {
  font-size: 3rem;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  animation: appear 1s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 15%;
}

.about-slots {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
  gap: 5rem;
  width: 100%;
}

.about-slots div {
  border-radius: 4px;
}

.about-slots div h3 {
  font-size: 1rem;
}

.about-slots-icons {
  width: 6rem;
  height: 100%;
}

.slots-container-single-grid p {
  font-size: 0.8rem;
  margin-top: 4px;
}

.booking-slot-btn {
  cursor: pointer;
}

.grid-available {
  border: 4px solid #00ff00;
  background-color: #00ff00;
}

.grid-booked {
  background-color: #ff0000;
  border: 4px solid #ff0000;
}
.booked {
  background-color: #ff0000;
}

.parking-controll-btn-div {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}

.parking-controll-btn {
  width: fit-content;
  padding: 0.8rem 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #28a9ff4b;
  border: none;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  transition: 0.2s linear;
}

.parking-controll-btn:hover {
  background-color: #28a9ffd3;
  color: rgba(255, 255, 255, 0.808);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .view-parking-details {
    margin: 5% 9%;
    border-radius: 0.2rem;
  }
  .parking-admin-name {
    font-size: 1.4rem;
  }

  .view-parking-image {
    height: 25rem;
  }

  .view-parking-status {
    font-size: 0.8rem;
  }

  .slots-container-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 0.8rem;
    border-radius: 2px;
    gap: 1rem;
    padding: 0.8rem;
  }
}

@media (max-width: 720px) {
  .view-parking-details {
    margin: 3% 8%;
    border-radius: 0.2rem;
  }

  .parking-admin-image {
    height: 2.3rem;
    width: 2.3rem;
  }

  .parking-admin-name {
    font-size: 1.3rem;
  }

  .view-parking-image {
    height: 18rem;
  }

  .parking-slots-div h4 {
    font-size: 1.1rem;
  }

  .slots-container-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 0.8rem;
    border-radius: 2px;
    gap: 1rem;
    padding: 0.8rem;
  }

  .about-slots div h3 {
    font-size: 0.8rem;
  }

  .about-slots-icons {
    width: 5rem;
  }
}

@media (max-width: 510px) {
  .view-parking-details {
    margin: 3% 2%;
    border-radius: 0.2rem;
  }

  .parking-admin {
    margin: 0.1rem 0.2rem;
  }

  .parking-admin-image {
    height: 2rem;
    width: 2rem;
  }

  .parking-admin-name {
    font-size: 1.2rem;
  }

  .view-parking-image {
    height: 15rem;
  }

  .parking-info {
    margin: 0.4rem;
  }

  .parking-detail-header {
    margin-bottom: 0.3rem;
  }

  .view-parking-sub-details {
    gap: 0.4rem;
    flex-direction: column;
    font-size: 0.8rem;
    padding-left: 0.2rem;
  }

  .parking-slots-div {
    margin-top: 0.4rem;
    padding: 0.4rem 0;
  }

  .parking-slots-div h4 {
    font-size: 1rem;
  }
  .slots-container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0.8rem;
    border-radius: 2px;
    gap: 1rem;
    padding: 0.8rem;
  }
}
