
.Footer {
    background-color: #2C3930;
    position: static; 
    bottom: 0;
    z-index: 1000;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 2rem;
}

.Footer p {
    background-color: #2C3930;
    margin-top: 2rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2C3930;
}

.about {
    background-color: #2C3930;
    margin-left: 2rem;
    margin-right: 2rem;
    list-style: none;  
}


.about li {
    background-color: #2C3930;
    text-decoration: none;

}

.about p {
    background-color: #2C3930;
}

