.signUp-page {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.signUp-form {
    align-items: center;
    justify-content: center;
    text-align: center;  
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 1rem;
    background-color:  #2C3930;
    margin: 2rem;
    padding: 1rem;
   
}

.inputs {
    margin: 1rem;
    display: flex;
    background-color: #DCD7C9;
    font-size: 1.15rem;
    height: 2.5rem;
    width: 25rem;
    border: 2px solid rgb(3, 15, 0);
    border-radius: 0.3rem;
    padding-left: 1rem;
    color: #ffffff;
}

.Heading {
    color: #DCD7C9;
    font-weight: 900;
    background-color:  #2C3930;
}

.login-heading {
    color: black;
}

.logIn-btn {
    list-style: none;
    background-color: #a27b5cbd ;
}

.btn {
    background-color: #a27b5cbd ;
    margin: 1rem;
}

.btn:hover {
    box-shadow: 2px 2px 10px black;
}


.logIn-btn a {
    background-color: #a27b5cbd ;
    text-decoration: none;
}




























*{
    background-color: #A27B5C ;
    background-color:  #3F4F44;
    background-color: #2C3930; 
    background-color:  #DCD7C9;
    

    }